.sidebar {
  .sidebar-button {
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 15px rgba(78, 70, 229, 0.2);

    &:hover {
      box-shadow: 0 0 15px rgba(78, 70, 229, 0.5);
      backdrop-filter: blur(10px);
      transition: all 0.3s ease-in-out;
    }
  }
  .menu-button {
    margin: 10px 0 10px 10px;
  }
  .sidebar-menu {
    border-radius: 20px;
    &:hover {
      box-shadow: 0 0 15px rgba(78, 70, 229, 0.5);
      backdrop-filter: blur(10px);
      transition: all 0.3s ease-in-out;
    }
  }
  .nav-item {
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: transparent !important;
  }
}
