<app-sidebar></app-sidebar>

<section class="admin-page ml-side section">
  <div class="container mx-auto pt-[10px]">
    <div
      class="bg-main-trans2-gradient-90 header-tab flex items-center justify-between py-[10px] mb-0 rounded-[20px] w-full pr-4 pl-4"
    >
      <h2 class="title-tab text-2xl font-bold text-indigo-600">
        Video tutorials
      </h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
      >
        <g
          fill="none"
          stroke="#4f45e5"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path
            stroke-dasharray="64"
            stroke-dashoffset="64"
            d="M12 3c4.97 0 9 4.03 9 9c0 4.97 -4.03 9 -9 9c-4.97 0 -9 -4.03 -9 -9c0 -4.97 4.03 -9 9 -9Z"
          >
            <animate
              fill="freeze"
              attributeName="stroke-dashoffset"
              dur="0.6s"
              values="64;0"
            />
          </path>
          <path
            stroke-dasharray="16"
            stroke-dashoffset="16"
            d="M9 10c0 -1.66 1.34 -3 3 -3c1.66 0 3 1.34 3 3c0 0.98 -0.47 1.85 -1.2 2.4c-0.73 0.55 -1.3 0.6 -1.8 1.6"
          >
            <animate
              fill="freeze"
              attributeName="stroke-dashoffset"
              begin="0.6s"
              dur="0.2s"
              values="16;0"
            />
          </path>
          <path stroke-dasharray="2" stroke-dashoffset="2" d="M12 17v0.01">
            <animate
              fill="freeze"
              attributeName="stroke-dashoffset"
              begin="0.8s"
              dur="0.2s"
              values="2;0"
            />
          </path>
        </g>
      </svg>
    </div>
    <ul
      class="list-items grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 py-8 px-4"
    >
      <li>
        <a
          href="https://drive.google.com/file/d/1kw0H49K6No9gIqc2G1BeKFfvMVSuowFr/view?usp=sharing"
          target="_blank"
        >
          <article
            class="overflow-hidden rounded-lg transition shadow-xl hover-shadow cursor-pointer"
          >
            <img
              alt=""
              src="https://i.ibb.co/8g3V1bxq/2.png"
              class="h-56 w-full object-cover"
            />

            <div class="bg-white p-4 sm:p-6 relative">
              <span class="new">new</span>
              <time datetime="2022-10-10" class="block text-xs text-indigo-500">
                12th August 2025
              </time>

              <h3 class="mt-0.5 text-lg text-gray-900">
                Вкладка #7 Опрос пользователей
              </h3>

              <p class="mt-2 line-clamp-3 text-sm/relaxed text-indigo-500">
                - 3 Варианта опроса <br />
                1 Квиз с правильным ответом <br />
                2 Анонимный опрос <br />
                3 Опрос обычный
              </p>
            </div>
          </article>
        </a>
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1tnGQMhr1ReOj-uAjYa7GOGCgvtWEHnvJ/view?usp=sharing"
          target="_blank"
        >
          <article
            class="overflow-hidden rounded-lg transition shadow-xl hover-shadow cursor-pointer"
          >
            <img
              alt=""
              src="https://i.ibb.co/mr5g5zJg/2025-06-12-12-21-21.png"
              class="h-56 w-full object-cover"
            />

            <div class="bg-white p-4 sm:p-6 relative">
              <span class="new">new</span>
              <time datetime="2022-10-10" class="block text-xs text-indigo-500">
                12th June 2025
              </time>

              <h3 class="mt-0.5 text-lg text-gray-900">
                Вкладка #6 Sites Event
              </h3>

              <p class="mt-2 line-clamp-3 text-sm/relaxed text-indigo-500">
                - Редактирование сайтов событий <br />
                - Создание и редактирование сайта <br />
                - Название события, тип события, результат, дата, призы<br />
              </p>
            </div>
          </article>
        </a>
      </li>
      <li class="items">
        <a
          href="https://drive.google.com/file/d/1vD-Le6VMdGPDUY2y1WHrPiMW9XJqMuIR/view?usp=sharing"
          target="_blank"
        >
          <article
            class="overflow-hidden rounded-lg transition shadow-xl hover-shadow"
          >
            <img
              alt=""
              src="https://i.ibb.co/B2SRJVsV/1.png"
              class="h-56 w-full object-cover"
            />

            <div class="bg-white p-4 sm:p-6">
              <span class="new">new</span>

              <time datetime="2022-10-10" class="block text-xs text-indigo-500">
                16th June 2025
              </time>

              <h3 class="mt-0.5 text-lg text-gray-900">
                Вкладка #3 Send e-mail
              </h3>

              <p class="mt-2 line-clamp-3 text-sm/relaxed text-indigo-500">
                - Отправить e-mail на произвольный адресс<br />
                - Отправить e-mail ТГ пользователям<br />
                - Отправить e-mail группе из сайта<br />
                - Выбор шаблонов писем<br />
                - Редактор щаблонов писем<br />
              </p>
            </div>
          </article>
        </a>
      </li>
      <li class="opacity-50 cursor-not-allowed">
        <article
          class="overflow-hidden rounded-lg transition shadow-xl hover-shadow"
        >
          <img
            alt=""
            src="https://i.ibb.co/YT3vbtg5/1.png"
            class="h-56 w-full object-cover"
          />

          <div class="bg-white p-4 sm:p-6">
            <time datetime="2022-10-10" class="block text-xs text-indigo-500">
              22th May 2025
            </time>

            <h3 class="mt-0.5 text-lg text-gray-900">Вкладка #1 Edit</h3>

            <p class="mt-2 line-clamp-3 text-sm/relaxed text-indigo-500">
              - Редактирование ТГ постов и кнопок <br />
              - Создание и редактирование новостей <br />
              - Достпуно форматирование текста<br />
            </p>
          </div>
        </article>
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1r1TO4ok5JKWU9SPx0xG9Y4SWDtsu3aHr/view?usp=sharing"
          target="_blank"
        >
          <article
            class="overflow-hidden rounded-lg transition shadow-xl hover-shadow cursor-pointer"
          >
            <img
              alt=""
              src="https://i.ibb.co/8g3V1bxq/2.png"
              class="h-56 w-full object-cover"
            />

            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-indigo-500">
                22th May 2025
              </time>

              <h3 class="mt-0.5 text-lg text-gray-900">
                Вкладка #2 TG send notification
              </h3>

              <p class="mt-2 line-clamp-3 text-sm/relaxed text-indigo-500">
                - Отправить телеграм уведомление юзарам <br />
                - Выбора категори<br />
                - Достпуно форматирование текста<br />
              </p>
            </div>
          </article>
        </a>
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1J1-PRBqPhlFC_WTgl3IfVFuzonfOm1_e/view?usp=sharing"
          target="_blank"
        >
          <article
            class="overflow-hidden rounded-lg transition shadow-xl hover-shadow cursor-pointer"
          >
            <img
              alt=""
              src="https://i.ibb.co/9mx6hcBH/4.png"
              class="h-56 w-full object-cover"
            />

            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-indigo-500">
                22th May 2025
              </time>
              <h3 class="mt-0.5 text-lg">Вкладка #4 TG Users | Site users</h3>

              <p class="mt-2 line-clamp-3 text-sm/relaxed text-indigo-500">
                - Пользователи ТГ бота<br />
                - Пользователи сатов домена<br />
                - Удаление сомнительных пользователей<br />
              </p>
            </div>
          </article>
        </a>
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1aeV3nUQULJ2mHDRmTg_Vxrq5qS5lolKq/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
        >
          <article
            class="overflow-hidden rounded-lg transition shadow-xl hover-shadow cursor-pointer"
          >
            <img
              alt=""
              src="https://i.ibb.co/dwf13rhJ/5.png"
              class="h-56 w-full object-cover"
            />

            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-indigo-500">
                22th May 2025
              </time>

              <h3 class="mt-0.5 text-lg">Вкладка #5 Images</h3>

              <p class="mt-2 line-clamp-3 text-sm/relaxed text-indigo-500">
                - Добавление изображения <br />
                - Галерея добавленых изображений <br />
                - Копирование ссылки изображения <br />
                - Удаление лишний изображений <br />
              </p>
            </div>
          </article>
        </a>
      </li>
    </ul>
  </div>
</section>
