.upload-drop-zone {
  //   border: 2px dashed #a855f7;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 22px 0;
  border-radius: 20px;
  height: 55vh;
  background: linear-gradient(145deg, #ffffff, #5045e5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;

  img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.btn[disabled],
.btn:disabled {
  opacity: 0.2;
}
.upload-drop-zone.dragover {
  background-color: #e6f7ff;
}

.preview-image {
  max-width: 100%;
  margin-top: 10px;
}
.nj-toast-gradient.btn {
  width: 95%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease-in;
  margin: auto;
  height: 65px;
  &:hover {
    transition: 0.3s ease-in;
    scale: 1.025;
    box-shadow: 0 0 15px #5045e5;
    padding: 15px 0;
  }
}
