.btn.btn-ghost.btn-error:hover {
  background-color: rgba(255, 0, 0, 0.498) !important;
}
.btn.btn-ghost.btn-success {
  background-color: rgba(1, 183, 1, 0.517) !important;
}
.head-controlls.grid.grid-cols-3{
    grid-template-columns: 25% auto 15%;
}
