<div class="mt-8" *ngIf="emailMessages.length > 0">
  <h2 class="block text-lg text-indigo-400 font-bold mb-4 ml-2">
    🥳 Email - успешно доставлено получателям
  </h2>
  <table class="table w-full">
    <thead>
      <tr>
        <th>$</th>
        <th (click)="toggleSort('email')" class="cursor-pointer">
          Email
          <span *ngIf="sortBy === 'email'">
            {{ ascending ? "↑" : "↓" }}
          </span>
        </th>
        <th (click)="toggleSort('subject')" class="cursor-pointer">
          Тема
          <span *ngIf="sortBy === 'subject'">
            {{ ascending ? "↑" : "↓" }}
          </span>
        </th>
        <th>Содержимое</th>
        <th>Статус</th>
        <th (click)="toggleSort('sentAt')" class="cursor-pointer">
          Дата
          <span *ngIf="sortBy === 'sentAt'">
            {{ ascending ? "↑" : "↓" }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let message of emailMessages | sort : sortBy : ascending;
          let i = index
        "
      >
        <td>{{ i + 1 }}</td>
        <td>
          <a
            [href]="'mailto:' + message.email"
            class="text-blue-500 hover:underline"
            >{{ message.email || "-" }}</a
          >
        </td>
        <td>{{ message.subject }}</td>
        <td>
          <div tabindex="0" class="collapse collapse-arrow">
            <div class="collapse-title font-semibold">
              {{ message.subject || "Сообщение" }}
            </div>
            <div class="collapse-content text-sm bg-base-100 rounded-xl">
              <div
                *ngIf="message.content.includes('<html')"
                [innerHTML]="message.content"
                class="h-full overflow-auto bg-base-200 rounded-xl"
              ></div>
              <span *ngIf="!message.content.includes('<html')">{{
                message.content
              }}</span>
            </div>
          </div>
        </td>
        <td>{{ message.status }}</td>
        <td>{{ message.sentAt | dateFormat }}</td>
      </tr>
    </tbody>
  </table>
</div>
