<app-sidebar></app-sidebar>

<section class="admin-page ml-side">
  <div class="container mx-auto pt-[10px]">
    <div
      class="bg-main-trans2-gradient-90 header-tab flex items-center justify-between py-[10px] mb-[0px] rounded-[20px] w-[100%] pr-4"
    >
      <h2 class="title-tab text-2xl font-bold text-indigo-600">
        Отправить email-сообщение
      </h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
      >
        <g
          fill="none"
          stroke="#4f45e5"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path
            fill="#4f45e5"
            fill-opacity="0"
            stroke-dasharray="64"
            stroke-dashoffset="64"
            d="M4 5h16c0.55 0 1 0.45 1 1v12c0 0.55 -0.45 1 -1 1h-16c-0.55 0 -1 -0.45 -1 -1v-12c0 -0.55 0.45 -1 1 -1Z"
          >
            <animate
              fill="freeze"
              attributeName="fill-opacity"
              begin="0.7s"
              dur="0.15s"
              values="0;0.3"
            />
            <animate
              fill="freeze"
              attributeName="stroke-dashoffset"
              dur="0.6s"
              values="64;0"
            />
          </path>
          <path
            stroke-dasharray="24"
            stroke-dashoffset="24"
            d="M3 6.5l9 5.5l9 -5.5"
          >
            <animate
              fill="freeze"
              attributeName="stroke-dashoffset"
              begin="0.6s"
              dur="0.2s"
              values="24;0"
            />
          </path>
        </g>
      </svg>
    </div>

    <div class="collapse-wrapper flex flex-col gap-2 mt-[30px]">
      <div class="collapse hover-shadow border">
        <input
          type="radio"
          name="my-accordion-3"
          checked="checked"
          class="peer"
        />
        <div
          class="collapse-title text-xl font-medium peer-checked:bg-gradient"
        ></div>
        <div class="collapse-content peer-checked:bg-white">
          <div class="form-group">
            <label
              class="block text-2xl text-gray-600 font-bold mb-1 text-center"
            >
              👇 Выберите кому отправить 👇
            </label>

            <!-- Новый компонент с табами -->
            <app-send-mode-tabs
              [currentMode]="sendMode"
              [telegramCount]="telegramUsersEmails.length"
              [siteCount]="siteUsersEmails.length"
              (modeChange)="setSendMode($event)"
            ></app-send-mode-tabs>
            <!-- Условный контент показываем только если выбран режим -->
            <ng-container *ngIf="sendMode">
              <!-- Список Telegram пользователей -->
              <div
                *ngIf="sendMode === 'telegram'"
                class="telegram-users-email pt-2"
              >
                <app-users-table
                    [users]="users"
                    [title]="'👇 Отправить Telegram 😎 пользователям 👇'"
                    [totalCount]="telegramUsersEmails.length"
                    [columns]="telegramColumns"
                  ></app-users-table>
              </div>

              <!-- Список Site пользователей -->
              <div
                *ngIf="sendMode === 'site'"
                class="site-users-email pt-2"
              >
                <app-users-table
                  [users]="filteredSiteUsers"
                  [title]="'👇 Выберите сайт 🌐 для отправки email-сообщений 👇'"
                  [totalCount]="siteUsersEmails.length"
                  [columns]="siteColumns"
                >
                  <!-- Дополнительный контент: фильтр по сайту -->
                  <div extra-header class="title-group flex items-center gap-4 mb-4 justify-center">
                    <select
                      class="select select-primary text-xl w-[40%] mx-auto rounded-[25px]"
                      [(ngModel)]="selectedSiteUrl"
                      (ngModelChange)="onSiteUrlFilterChange()"
                      required
                    >
                      <option value="" disabled selected>Выберите сайт</option>
                      <option *ngFor="let siteUrl of uniqueSiteUrls" [value]="siteUrl">
                        {{ siteUrl }}
                      </option>
                    </select>
                  </div>
                </app-users-table>
              </div>

              <!-- Основной контент формы -->
              <div class="form-group pb-4 pt-2">
                <label
                  class="block text-lg text-gray-600 font-bold mb-1 text-center"
                >
                  Выберите вариант контента письма:
                </label>
                <div
                  class="checked-var flex items-center justify-center gap-4 py-2"
                >
                  <p
                    [ngClass]="
                      !useTemplate ? 'nj-toast-gradient' : 'px-[10px] py-[5px]'
                    "
                  >
                    Написать вручную текст
                  </p>
                  <input
                    type="checkbox"
                    [(ngModel)]="useTemplate"
                    (change)="toggleContentChoice($event)"
                    class="toggle border-indigo-600 bg-indigo-500 checked:bg-green-400 checked:text-green-500 checked:border-green-500"
                    [disabled]="isSending"
                  />
                  <p
                    [ngClass]="
                      useTemplate
                        ? 'nj-toast-grad-access'
                        : 'px-[10px] py-[5px]'
                    "
                  >
                    Выбрать из шаблонов
                  </p>
                </div>
              </div>

              <!-- Поле ввода для ручных адресов -->
              <div
                class="form-group w-[75%] mx-auto"
                *ngIf="sendMode === 'manual'"
              >
                <label class="block text-sm text-indigo-400 font-bold mb-1">
                  Вставьте email-адреса через запятую либо вставьте один адрес:
                </label>
                <input
                  [(ngModel)]="whoSentStr"
                  class="input w-full mb-4 border border-gray-300 rounded-lg px-4 py-2.5 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                  placeholder="example@gmail.com, 2-example@gmail.com, 3-example@gmail.com"
                  [disabled]="isSending"
                />
              </div>

              <div class="form-group w-[75%] mx-auto">
                <label class="block text-sm text-indigo-400 font-bold mb-1">
                  Тема письма (обязательно):
                </label>
                <input
                  [(ngModel)]="emailSubject"
                  class="input w-full mb-4 border border-gray-300 rounded-lg px-4 py-2.5 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                  placeholder="Введите тему письма"
                  [disabled]="isSending"
                />
              </div>

              <!-- Условное отображение текстового поля или шаблона -->
              <div class="form-group w-[75%] mx-auto" *ngIf="!useTemplate">
                <label class="block text-sm text-indigo-400 font-bold mb-1">
                  Содержимое письма (обязательно):
                </label>
                <textarea
                  [(ngModel)]="emailContent"
                  placeholder="Введите текст сообщения"
                  [disabled]="isSending"
                  class="w-full h-[24dvh] border rounded-lg px-4 py-2 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                ></textarea>
              </div>

              <!-- Список шаблонов и предпросмотр -->
              <div class="form-group mb-4" *ngIf="useTemplate">
                <label class="block text-sm text-indigo-400 font-bold mb-1">
                  Выберите шаблон:
                </label>
                <div class="template-list flex mb-4 flex-wrap">
                  <div
                    *ngFor="let template of templates; let i = index"
                    class="flex items-center rounded-btn py-2 mx-2"
                  >
                    <label
                      class="label btn btn-ghost px-2 cursor-pointer"
                      [for]="'template-' + i"
                    >
                      <input
                        class="checkbox checkbox-success"
                        type="radio"
                        name="template-options"
                        [id]="'template-' + i"
                        [value]="template.id"
                        [checked]="selectedTemplateId === template.id"
                        (click)="selectTemplate(template.instance, template.id)"
                      />
                      <span class="ml-2">{{ template.name }}</span>
                    </label>

                    <!-- Кнопка удаления -->
                    <button
                      class="btn btn-circle btn-sm text-error hover:scale-110 transition-transform"
                      title="Удалить шаблон"
                      (click)="deleteTemplate(template.id, template.name, $event)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M3 6h18"></path>
                        <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                        <path d="M5 6v14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6"></path>
                        <path d="M10 11v6"></path>
                        <path d="M14 11v6"></path>
                      </svg>
                    </button>
                  </div>
                </div>
                <label class="block text-sm text-indigo-400 font-bold mb-1">
                  Редактор и предпросмотр шаблона:
                </label>
                <div
                  class="w-full border rounded-lg p-4 overflow-auto grid grid-cols-2 gap-4"
                >
                  <div class="editor-wrapper flex flex-col gap-4">
                    <app-email-template-editor
                      [emailTemplate]="selectedTemplate"
                      [isSending]="isSending"
                      (emailTemplateChange)="selectedTemplate = $event"
                    ></app-email-template-editor>
                    <div class="btn-wrapper gap-4 flex justify-center items-center w-[96%]">
                      <button
                        class="btn btn-outline btn-info w-[44%] mx-auto text-lg rounded-[35px] mt-4 min-h-[60px] items-center"
                        (click)="updateTemplate()"
                        [disabled]="isSending || !selectedTemplate || selectedTemplateId === 0"
                        title="Обновить выбранный шаблон (только сохранённые)"
                      >
                        Обновить шаблон
                      </button>

                      <button
                        class="btn btn-primary w-[44%] mx-auto text-white text-lg rounded-[35px] mt-4 min-h-[60px] items-center"
                        (click)="saveTemplate()"
                        [disabled]="isSending || !selectedTemplate"
                      >
                        Сохранить как новый
                      </button>
                    </div>
                  </div>

                  <div class="emeil-template-wrapper h-[1200px] overflow-auto">
                    <div
                      class="h-[1800px] p-4 pt-[100px] bg-base-200 relative flex flex-col justify-start shadow-2xl rounded-3xl"
                    >
                      <div
                        *ngIf="selectedTemplate"
                        [innerHTML]="selectedTemplate.safeHtmlTemplate"
                        class="w-[100%] h-fit"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="btn-wrapper w-full flex items-center justify-center py-[40px]"
              >
                <button
                  class="btn btn-accent w-[40%] text-white text-xl rounded-[35px] min-h-[70px] items-center"
                  (click)="sendEmails()"
                  [disabled]="isSending"
                >
                  {{ isSending ? "Отправка..." : "Отправить" }}
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="30"
                      height="30"
                      viewBox="0 0 24 24"
                    >
                      <mask id="lineMdEmailArrowRightTwotone0">
                        <g
                          fill="none"
                          stroke="#fff"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                        >
                          <path
                            stroke-dasharray="64"
                            stroke-dashoffset="64"
                            d="M4 5h16c0.55 0 1 0.45 1 1v12c0 0.55 -0.45 1 -1 1h-16c-0.55 0 -1 -0.45 -1 -1v-12c0 -0.55 0.45 -1 1 -1Z"
                          >
                            <animate
                              fill="freeze"
                              attributeName="stroke-dashoffset"
                              dur="0.6s"
                              values="64;0"
                            />
                          </path>
                          <path
                            stroke-dasharray="24"
                            stroke-dashoffset="24"
                            d="M3 6.5l9 5.5l9 -5.5"
                          >
                            <animate
                              fill="freeze"
                              attributeName="stroke-dashoffset"
                              begin="0.6s"
                              dur="0.2s"
                              values="24;0"
                            />
                          </path>
                          <path
                            fill="#fff"
                            fill-opacity="0"
                            stroke="none"
                            d="M12 11l-8 -5h16l-8 5Z"
                          >
                            <animate
                              fill="freeze"
                              attributeName="fill-opacity"
                              begin="1.2s"
                              dur="0.15s"
                              values="0;0.3"
                            />
                          </path>
                          <path
                            fill="#000"
                            fill-opacity="0"
                            stroke="none"
                            d="M19 13c3.31 0 6 2.69 6 6c0 3.31 -2.69 6 -6 6c-3.31 0 -6 -2.69 -6 -6c0 -3.31 2.69 -6 6 -6Z"
                          >
                            <set
                              fill="freeze"
                              attributeName="fill-opacity"
                              begin="0.8s"
                              to="1"
                            />
                          </path>
                          <path
                            stroke-dasharray="6"
                            stroke-dashoffset="6"
                            d="M16 19h5"
                          >
                            <animate
                              fill="freeze"
                              attributeName="stroke-dashoffset"
                              begin="0.8s"
                              dur="0.2s"
                              values="6;0"
                            />
                          </path>
                          <path
                            stroke-dasharray="4"
                            stroke-dashoffset="4"
                            d="M21 19l-2 2M21 19l-2 -2"
                          >
                            <animate
                              fill="freeze"
                              attributeName="stroke-dashoffset"
                              begin="1s"
                              dur="0.2s"
                              values="4;0"
                            />
                          </path>
                        </g>
                      </mask>
                      <rect
                        width="24"
                        height="24"
                        fill="#fff"
                        mask="url(#lineMdEmailArrowRightTwotone0)"
                      />
                    </svg>
                  </span>
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- Таблица сообщений -->
    <app-emails-table [emailMessages]="emailMessages"></app-emails-table>

    <!-- Сообщение об успехе или ошибке -->
    <div
      *ngIf="resultMessage"
      class="alert mb-4 relative flex justify-between bg-info"
    >
      <b>{{ resultMessage }}</b>
      <span class="close cursor-pointer" (click)="cancelMessage()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m3.59-13L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z"
          />
        </svg>
      </span>
    </div>
  </div>
</section>
