<div
  class="collapse hover-shadow-white card bg-base-100 mx-auto cursor-pointer w-[90%] mt-8"
  *ngIf="event.status === 'inactive' || event.status === 'ended'"
>
  <input type="radio" name="my-accordion-{{ event.id }}" class="peer" />
    <ng-content *ngIf="usersCount == 0">
    <div class="collapse-title text-xl font-medium peer-checked:bg-gradient">
      <label class="text-xl font-bold text-center flex items-center justify-center gap-4">
        <span class="flex items-center text-indigo-600"> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --><path fill="currentColor" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m0 2c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4"/></svg> ({{usersCount}})</span>

        ❗️Нет пользователей для отправки email❗️ 
      </label>
    </div>
  </ng-content>
  <ng-container *ngIf="usersCount">
    <div class="collapse-title text-xl font-medium peer-checked:bg-gradient">
      <label class="text-xl font-bold text-center flex items-center justify-center gap-4">
        <span class="flex items-center text-indigo-600"> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --><path fill="currentColor" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m0 2c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4"/></svg> ({{usersCount}})</span>
        ❗️Для отправки email выберите шаблоны❗️
      </label>
    </div>
    <div class="collapse-content peer-checked:bg-white" >
      <div class="users-groups flex flex-col pt-[10px]">
        <!-- Шаблон для победителей -->
        <div class="form-group mb-4 flex items-center justify-center gap-8">
          <label class="block text-lg font-bold mb-1 w-[33%] text-right">
            Шаблон для победителей
            <span class="text-success text-3xl">Win</span>
          </label>
          <select
            class="select select-primary text-xl w-fit mx-auto rounded-[25px] flex-1"
            (ngModelChange)="onTemplateChange('win', $event)"
            [ngModel]="selectedWinTemplateId"
            [disabled]="isSending"
          >
            <option value="" disabled>Выберите шаблон</option>
            <option *ngFor="let template of templates" [value]="template.id">
              {{ template.name }}
            </option>
          </select>
        </div>

        <!-- Шаблон для проигравших -->
        <div class="form-group mb-4 flex items-center justify-center gap-8">
          <label class="block text-lg font-bold mb-1 w-[33%] text-right">
            Шаблон для проигравших
            <span class="text-error text-3xl">Lose</span>
          </label>
          <select
            class="select select-primary text-xl w-fit mx-auto rounded-[25px] flex-1"
            (ngModelChange)="onTemplateChange('lose', $event)"
            [ngModel]="selectedLoseTemplateId"
            [disabled]="isSending"
          >
            <option value="" disabled>Выберите шаблон</option>
            <option *ngFor="let template of templates" [value]="template.id">
              {{ template.name }}
            </option>
          </select>
        </div>

        <!-- Тема письма -->
        <div class="form-group mb-4 flex items-center justify-center gap-8">
          <label class="block text-lg font-bold mb-1 w-[33%] text-right">
            Тема письма
            <span class="text-warning text-3xl">✉️</span>
          </label>
          <input
            type="text"
            [(ngModel)]="selectedSubject"
            class="input input-primary text-xl w-fit mx-auto rounded-[25px] flex-1 px-6"
            placeholder="Например: Поздравляем! Результаты голосования 🎉"
            [disabled]="isSending"
          />
        </div>

        <!-- Список пользователей -->
        <div class="users-all-wrapper pb-3">
          <h3 class="text-lg font-bold text-center mb-2">
            Пользователи ({{ usersCount }}):
          </h3>
          <div class="h-[200px] overflow-x-auto mx-auto w-[96%] shadow-2xl rounded-3xl">
            <table class="min-w-full divide-y-2 divide-gray-200">
              <thead class="sticky top-0 bg-white text-left">
                <tr class="text-sm text-gray-400">
                  <th class="px-3 py-2 whitespace-nowrap">#</th>
                  <th class="px-3 py-2 whitespace-nowrap">Name</th>
                  <th class="px-3 py-2 whitespace-nowrap">Email</th>
                  <th class="px-3 py-2 whitespace-nowrap">Result</th>
                  <th class="px-3 py-2 whitespace-nowrap">Site</th>
                  <th class="px-3 py-2 whitespace-nowrap">Date</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <tr
                  class="text-gray-500 text-sm"
                  *ngFor="let user of getFilteredUsersForEvent(); let i = index"
                >
                  <td class="px-3 py-2 whitespace-nowrap">{{ i + 1 }}</td>
                  <td class="px-3 py-2 whitespace-nowrap text-gray-800 font-bold">
                    {{ user.user_name || "N/A" }}
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-indigo-400">
                    {{ user.email }}
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap">
                    {{ user?.user_submit_data?.['selected_option'] || 'N/A' }}
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap">
                    {{ user.site_url }}
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap">
                    {{ user.updated_at | date : "dd.MM.yyyy" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Кнопка отправки -->
        <div class="btn-wrapper w-full flex items-center justify-center py-[20px] gap-4">
          <button
            class="btn btn-accent w-[30%] text-white text-xl rounded-[35px] min-h-[70px]"
            (click)="sendPush()"
            [disabled]="isSending || event.result === null || !selectedWinTemplateId || !selectedLoseTemplateId"
          >
            {{ isSending ? "Отправка..." : "Отправить" }}
            <span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

        <!-- Toast уведомления -->
<div class="toast toast-top toast-center z-50 w-full fixed translate-center-x-1/2 translate-center-y-1/2 h-full" *ngIf="sendSuccess || sendError">
  <div *ngIf="sendSuccess" class="alert alert-success shadow-lg">
    <div class="flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
      </svg>
      <span>{{ sendReport }}</span>
    </div>
    <svg (click)="sendSuccess = false" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --><path fill="currentColor" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"/></svg>
  </div>
  <div *ngIf="sendError" class="alert alert-error shadow-lg">
    <div class="flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
      </svg>
      <span>{{ sendReport }}</span>
    </div>
    <svg (click)="sendError = false" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --><path fill="currentColor" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"/></svg>
  </div>
</div>